__pycache__

# File with twitch username, auth token, and channel to join
creds.txt

# Old file for storing markov structure
markov_dict.json

# Old file for storing message logs
msg_log.txt

# Old file for storing time logs
time_log.txt

# Saved markov files
dict_*

# Backup files
*#*
