__pycache__
creds.txt # File with twitch username, auth token, and channel to join
markov_dict.json # Old file that stored markov data structure
msg_log.txt # Old file that stored message logs
time_log.txt # Old file that stored time logs

# Saved markov files
dict_*

# Backup files
*#*
